/* clear */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* clear */
body{
	background: #f4f4f4;
	font: .8em Arial, Verdana, Tahoma, Sans-Serif;
}
a{
color: #b10402;

}
#all{
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	display: block;
	//border: 5px solid black;
	width: 900px;
	overflow: hidden;
	box-shadow: 1px 1px 5px #888888;
	
}

#header{
	height: 160px;
	width: 100%;
	//background: #02afb1;
	float: left;
	
}

#center{
	width: 100%;
	//min-height: 1000px;
	position: relative;
}

#footer{
	height: 200px;
	width: 880px;
	margin: 10px;
	box-shadow: 1px 1px 5px #888888;
	float: left;
}
#menu{
	width: 880px;
	height: 40px;
	margin: 0 10px;
	box-shadow: 1px 1px 5px #888888;
	float: left;
	text-align: center;
}

#menu ul a{
	float: left;
	padding-left:10px;
	padding-right: 10px;
	//margin-left: 4px;
	height: 100%;
	text-decoration: none;
	//border-left: solid 1px;
	border-right: solid 1px;
}
#menu ul a li{
	float: left;
	text-decoration: none;
	font-size: 1.1em;
	font-weight: bold;
	margin-top: 11px;
}
#menu ul a:hover{
	box-shadow: inset 1px 1px 5px #888888, inset -1px -1px 5px #888888;
}

/*contenido del header*/
#header-content{
	height: 140px;
	width: 56%;
	float: left;
	margin: 10px;
	margin-right: 0;
	box-shadow: 1px 1px 5px #888888;
	position: relative;

}
#userblock{
	height: 140px;
	width: 24%;
	margin: 10px;
	text-align: center;
	box-shadow: 1px 1px 5px #888888;
	float: right;
}
#userblock >h1{
	margin-top: 7%;
	font-weight: bold;
	font-size: 1.1em;
}
#userblock >h2{
	margin-top: 10%;
	font-weight: bold;
	font-size: 1.8em;
}
#userblock >h3{
	margin-top: 10%;
	font-weight: bold;
	font-size: 1.1em;
}
#userblock a{
	color: #b10402;
}

#header #logo{
	height: 140px;
	width: 15%;
	margin: 10px;
	margin-right: 0;
	box-shadow: 1px 1px 5px #888888;
	float: left;

}
#header-content form input[type="text"]{
	box-shadow: inset 1px 1px 5px #888888, inset -1px -1px 5px #888888;
    border: none;
    color: #525252;
    height: 35px;
    line-height:15px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 5px 0px 5px 5px;
    width: 75%;
    //border-radius: 2px;
    //-webkit-border-radius: 2px;
    //-moz-border-radius: 2px;
    //-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    //background: #FFCC02;
	font-size: 1.3em;
}
 #header-content form input[type="submit"]{
    //background: #FFCC02;
	height: 34px;
    border: none;
    padding: 10px 25px 10px 25px;
    //color: #585858;
    //text-shadow: 1px 1px 1px #FFE477;
    font-weight: bold;
	
	//border-radius: 4px;
    //-moz-border-radius: 4px;
    //-webkit-border-radius: 4px;
       box-shadow: 1px 1px 1px #3D3D3D;
    -webkit-box-shadow:1px 1px 1px #3D3D3D;
    -moz-box-shadow:1px 1px 1px #3D3D3D;
}

#header-content form {
	position: absolute;
	bottom: 0;
	width: 90%;
	margin-left: 5%;
}


#header form input[type="submit"]:hover {
    color: #333;
    background-color: #EBEBEB;
}


#userblock{
 vertical-align: middle;
}

.ficha{
	float:left;
	height: 250px;
	width: 18%;
	margin: 1%;
	box-shadow: 1px 1px 5px #888888;
	position: relative;
}
.ficha img{
	width: 100%;
	height: 100%;
}
.ficha .top{
	position: absolute;
	top:0;
	width:100%;
	background-color: black;
	color: white;
	opacity: 0.7;
	
}

.ficha .bottom{
	position: absolute;
	bottom:0;
	width:100%;
	background-color: black;
	color: white;
	opacity: 0.7;
}

.ficha2{
	box-shadow: 1px 1px 5px #888888;
	float: left;
	height: 200px;
	width: 45%;

	margin: 2%;
	position: relative;
	
}

.ficha2 img{
	float: left; 
	width: 30%;
	height: 100%;
}

.ficha2 .detalle{
	float: right;
	height: 250px;
	width: 60%;
}
#center{
	float: left;
	
}
#center>div>h1{
	margin-top: 30px;
	text-align: center;
	font-weight: Bold;
	font-size: 2em;
	
}
#center >div{
	float: left;
	width: 100%;
	//	margin: 0;
	
}






