<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <display-name>Archetype Created Web Application</display-name>
    
    <servlet>
        <servlet-name>simple-servlet</servlet-name>
        <servlet-class>es.udc.fi.asi.servlet.SimpleServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>servlet-jsp</servlet-name>
        <servlet-class>es.udc.fi.asi.servlet.ServletJSP</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>es.udc.fi.asi.servlet.Search</servlet-class>
    </servlet>
    
    
    
    <servlet-mapping>
        <servlet-name>simple-servlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>servlet-jsp</servlet-name>
        <url-pattern>/hellojsp</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
	
	
    
    
    
</web-app>